@media (max-width: 1200px)
  .container
    max-width: 1000px

@media (max-width: 1050px)
  .container
    max-width: 850px

  .search
    margin: auto

@media (max-width: 900px)
  .container
    max-width: 750px
  .header-top
    padding: 30px 0
    &__logo
      width: 132px

@media (max-width: 768px)
  .container
    max-width: 700px
  .search
    +size(340px,40px)
  .header-menu
    padding: 22px 0 23px 0
    &__link
      font-size: 12px
      line-height: 15px

@media (max-width: 710px)
  .container
    max-width: 600px
  .header-top
    padding: 25px 0
    &__logo
      width: 99px
  .search
    +size(250px,40px)

@media (max-width: 650px)
  .container
    max-width: 550px
  .header-top
    padding: 25px 0
    &__logo
      width: 99px
  .search
    +size(200px,30px)
  .header-menu__link
    font-size: 10px
    line-height: 12px

@media (min-width: 320px) and (max-width:560px)
  .container
    max-width: 278px
  .header
    &__logo
      width: 99px
    &-top
      padding: 28px 0
      &__btn
        background-color: #fff
        display: flex
        flex-direction: column
        justify-content: space-between
        +size(16px,11px)
        border: none
        cursor: pointer
    &-menu
      display: none
  button
    display: none
  .line
    +size(16px,1px)
    background-color: $text-color

  .search,.user
    display: none

  .hotel
    padding-top: 0
    &__wrap
    &-info
      &__wrap
        width: 100%
        position: relative
      &__stars
        position: absolute
        flex-basis: 20%
        align-self: flex-end
        right: 0
        top: 5px
      &__name
        margin-top: 10px
      &__description
    &-rating
      display: none

  .offer
    order: -3
    margin-left: 0px
